@{
    ViewBag.Title = "Report 1";
}


<div class="row">
    <table id="datatable_tabletools" cellspacing="0" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th data-class="expand">ON</th>
                <th data-class="expand">FCU Address</th>
                <th data-class="expand">Served Area</th>
                <th data-class="expand">Run Hours Work</th>
                <th data-class="expand">Preventive Mantainance Run</th>
                <th data-class="expand">Preventive Mantainance Overdue</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

